accelerate
albumentations
click
clip_anytorch
cudatoolkit
datasets
diffusers[torch]
dnspython
einops
eventlet
facexlib
flask_cors
flask_socketio
flask
flaskwebgui
ftfy
getpass_asterisk
gfpgan
huggingface-hub
imageio
imageio-ffmpeg
kornia
npyscreen
numpy
omegaconf
opencv-python
picklescan
pillow
prompt-toolkit
pudb
pyngrok
pyreadline3
pytorch
pytorch-lightning
realesrgan
requests
safetensors
scikit-image
scipy
send2trash
streamlit
taming-transformers-rom1504
test-tube
torch-fidelity
torchaudio
torchmetrics
torchvision
transformers
xformers
# pypatchmatch
https://github.com/invoke-ai/PyPatchMatch/archive/refs/tags/0.1.5.zip#egg=pypatchmatch
# k-diffusion
https://github.com/Birch-san/k-diffusion/archive/refs/heads/mps.zip#egg=k-diffusion
https://github.com/invoke-ai/clipseg/archive/relaxed-python-requirement.zip#egg=clipseg
https://github.com/openai/CLIP/archive/eaa22acb90a5876642d0507623e859909230a52d.zip#egg=clip